html { 
    color: black;
    font-family: Franklin Gothic Medium, sans-serif;
}

header{
    height: 35vh; 
    background: url(image/logo1.jpg)  fixed;
    display: flex;
}

.head h2 {
    font-size: 35px;
    color:white;
    margin-left: 150%;
    margin-top: 30%;
}


.head a{
    font-family: Franklin Gothic Medium, sans-serif;
}

.head ul{
    float : center;
    list-style-type: none;
    text-align:start;
    position:absolute;
    padding-left: 20%;
}


.head ul li{
    display:inline-block;
    border-radius: 10px;
}

fieldset{
    border-radius: 20px;
    width: 10%;
    font-weight: bold;
    border-color: black;
}

