/*_________ANIMATION_________*/

@keyframes slidein {
  from {
    opacity: 0.5;
  }
  to{
    opacity: 1;
  }
}





/*_________PARAMETRES GENERAUX_________*/

body{
  background-color:#ece0d6;
}

html { 
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  animation-duration: 3s;
  animation-name: slidein;
}





/*_________AFFICHAGE DES VOYAGES_________*/

.photo{
  border-radius: 10px;
  width: 55%;
  height: 35%;
  margin-left:5%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.selection1{
  margin: auto;
  background-color: #bebebe;
  display: flex;
  align-items: center;
  font-size: 30px;
  width: 60%;
  text-align: right;
  margin-top: 150px;
  border: none;
  border-radius: 15px;
  padding-right: 40px;
  padding-bottom: 40px;
}

.selection1 p{
  font-size :2vw;
}

.selection1:hover {
  transform: scale(1.05);
  box-shadow: 20px 20px 20px #cacaca;
  cursor: pointer;
}

.selection_lien {
  text-decoration: none;
  color: inherit;
}





/*_________HEADER_________*/

.head{
  height: 60vh; 
  background: url(image/camping.png) fixed;
  display: flex;
  font-size:30px;
  background-size: 100%;
}

.head p{
  text-align: center;
  margin-left: 31.5%;
  color:#F5E6CA;
  margin-top:20%;
  font-size: 1.5vw;
}

.head ul{
  position:absolute;
  margin-left: 30%;   
  margin-top: 1.5%;
  font-size: 1.3vw;
}

.head ul li{
  display:inline;
  border: none;
  border-radius: 10px;
  padding: 70px;
}

.head ul li a{
  font-size: 2vw;
}

.head a{
  text-decoration: none;
  color:white;
}

.head1 h2 {
  float:right;
  position: absolute;
  margin-left:34.5%;
  color:white;
  margin-top:10%;
}

.head1 a{
  text-decoration: none;
  color:white;
  font-size: 4vw;
}

.head1 a:visited{
  color:#ffffff;
}

.head a:hover{
  color:#ca8d5e;
}

.menu-connexion {
  position: absolute;
  display: inline-block;
  border-width: 90% ;
  border-radius: 10%;
  margin-top: 0.8%;
  margin-left: 2%;
  left: 80%;
}

.boutton{
  border: none;
  color: white;
  padding: 5%;
  width: 110%;
  font-size: 2vw;
  cursor: pointer;
}

.boutton:hover{
  color:#ca8d5e;
}

.menu {
  font-size: 30px;
  display: none;
  position: absolute;
  background-color: beige;
  margin-left: 5%;
  width: 110%;
  margin-top: 2%;
  border-radius: 10px;
}

.menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 2vw;
}

.menu a:hover {
  background-color: none;
  text-decoration: underline;
}

.menu-connexion:hover .menu {
  display: block;
}

.menu-connexion:hover .menu a{
  font-size: 1.8vw;
}




/*_________FOOTER_________*/

footer{
  margin-top: 20%;
  background-color: #ca8d5e;
  height: 30vh;
  display: flex;
  font-size: 1vw;
}

.footer-droit{
  color: black;
  font-size: 0.8vw;
  margin-left: 20%;
  border-radius: 10px;
  margin-top: 1%;
}

.footer-droit input{
  height: 10%;
  width: 75%;
}

.footer-central{
  margin-left: 30%;
}

.footer-gauche{
  margin-left :2%;
  margin-top: 3%;
}

.footer-gauche a{
  text-decoration: none;
}

.icone{
  color: blue;
  font-size: 2vw;
}

.icone a:visited{
  color: blue;
}

.icone1{
  color: #9c029c;
  font-size: 2vw;
}

.icone1 a:visited{
  color: #9c029c;
}

.icone2{
  color:#3c69fd;
  font-size: 2vw;
}

.icone2 a:visited{
  color:#3c69fd;
}

.bas{
  position: absolute;
  margin-top: 12%; 
  margin-left: 30%;
  text-align: center;
  font-size: 0.7vw;
}





/*_________PAGE D'ACCUEIL (HEADER ET FOOTER DIFFERENTS DES AUTRES PAGES)_________*/

.head_accueil{
  height: 100vh; 
  background: url(image/fond_camping.jpeg) fixed;
  display: flex;
  font-size:30px;
  background-size: 100%;
}

.head_accueil p{
  margin-left: 15%;
  text-align: center;
  width: 70%;
  float:right;
  position: absolute;
  color:#F5E6CA;
  margin-top:20%;
  font-size: 1.5vw;
}

.head2 h2{
  float:right;
  position: absolute;
  margin-left:34.5%;
  color:white;
  margin-top:10%;
}

.head2 a:hover{
  color: #ca8d5e;
}

.head_accueil .head2 a{
  text-decoration: none;
  color:white;
  font-size: 5vw;
}
  
.head_accueil ul{
  position:absolute;
  margin-left: 30%;   
  margin-top: 1.5%;
}
  
.head_accueil ul li{
  display:inline;
  border: none;
  border-radius: 10px;
  padding: 70px;
}

.head_accueil ul li a{
  font-size:2vw;
}

.head_accueil a{
  text-decoration: none;
  color:white;
}
  
.head_accueil a:hover{
  color:#ca8d5e;
}

.head_accueil .menu-connexion a {
  font-size: 2vw;
}

.head_accueil .menu-connexion .menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 1.8vw;
}

.head_accueil .menu-connexion .menu a:hover{
  background-color: none;
  text-decoration: underline;
}

.footer_accueil{
  margin-top: 0%;
  background-color: #ca8d5e;
  height: 30vh;
  display: flex;
  font-size: 1vw;
}



/*_________PAGE DE CONNEXION/D'INSCRIPTION/DE PROFIL_________*/

fieldset{
  background-color: white;
  box-shadow: 6px 6px 6px #817f7f;
  border: none;
  border-radius: 10px;
  width: 20%;
  font-size: 1.5vw;
  text-align: center;
  margin-top: 100px;
  margin-left: 400px;
  margin-bottom: 5%;
}

fieldset legend{
  font-weight: bold;
}

.entete{
  font-size: 1vw;
}

.caption{   
  margin-right: 270px;
  font-size: 1.5vw;
  margin-bottom: 2%;
}

.caption_mdp{
  margin-left: 5%;
  margin-right: 270px;
  font-size: 1.5vw;
  margin-bottom: 2%;
}

.zone{
  align-items: center;
}

.zone input{
  font-size: 1vw;
  border-radius: 5px;
  margin-right: 50px;
  width: 15vw;
}

.zone select{
  font-size: 1.3vw;
  border-radius: 10px;
  margin-right: 270px;
  border-width: 2px;
  border-color: black;
}
  
.underline{
  margin-top: 2%;
  text-decoration: underline;
  font-size: 0.8vw;
  margin-right: 180px;
}

fieldset a {
  font-size: bold;
  color: black;
}
  
fieldset em {
  font-size: 0.7vw;
  color: black;
}

fieldset .charte{
  margin-top: 20px;
  font-size: 0.5vw
}

.cliquer input{
  font-size:20px;
  margin-right:30px;
  width: 15vw;
  border-radius: 10px;
  background-color: teal;
  color: white;
}

.cliquer input:hover{
  background-color: #005858;
  cursor: pointer;
}

.image_connexion{
  content: url(image/image_profil.webp) ;
  display: flex;
  margin-left: -40%;
  width: 30vw;
  height: 37vw;
  float:inline-end;
  margin-top:-43%;
  margin-right: 10%;
  border-radius: 10px;
}
  
.image_inscription{
  content: url(image/image_profil.webp) ;
  display: flex;
  margin-left: -40%;
  width: 30vw;
  height: 40vw;
  float:inline-end;
  margin-top:-55%;
  margin-right: 10%;
  border-radius: 10px;
}
  
fieldset button{
  background-color: red;
  color: white;
  border-radius: 10px;
  width: 10vw;
  font-size: 50%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

fieldset button:hover{
  background-color: #CC0000;
  cursor: pointer;
}





/*_________PAGE DE RECHERCHE_________*/

.groupe{
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 10px;
}

.barre_recherche form {
  width: 94%;
  background-color: #EF8F1D;
  padding: 3%;
  border-radius: 20px;
  margin-top: 50px;
}

.groupe label{
  color: #f3f3ef;
  padding: 6px;
  margin: 10px;
  font-size: 1.4vw;
}

.groupe input, .groupe select, .groupe option{
  font-size: 1.3vw;
  margin: 10px;
  padding: 6px;
  border-radius: 5px;
  background-color: rgb(228, 227, 227);
  border-color: bisque;
  border-width: 5px;
  box-shadow: 5px 5px 5px black;
  width: 20vw;
}

.recherche-boutton{
  text-align: center;
}

 .recherche-boutton input{
  background-color: #373737;
  border: none;
  border-radius: 5px;
  color: #DBDBD9;
  margin-top: 15px;
  padding: 1%;
  font-size: 1.5vw;
}

.recherche-boutton input:hover {
  box-shadow: 5px 5px 5px white;
}

.pagination {
  text-align: center;
  margin-top: 3%;
}

.pagination a, .pagination strong {
  padding: 0.5% 0.8%;
  margin: 5px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  background: #007BFF;
}

.pagination strong {
  background: #0056b3;
}





/*_________PAGE DE PRESENTATION_________*/

.accroche{
  font-size: 1.5vw;
  padding-top: 5%;
  text-align: center;
}

.hebergement{
  margin-left: 7%;
  text-align: center; 
  margin-right: 5%;
  font-size: 1vw;
}

.hebergement p{
  margin-top: 5%;
}

.hebergement ul{
  width: 50%;
  margin: auto;
  font-size: 1vw;
}

.experience{
  width: 80%;
  margin: auto;
  text-align: center;
}

.experience ul{
  width: 100%;
  margin: auto;
  padding: 20px;
  border: solid #9d9ba5;
  margin-bottom: 30px;
  list-style: none;
  background-color: white;
}

.experience ul .type{
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 1.5vw;
}

.experience .illustration{
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  gap: 4%;
  margin-top: 10px;
}

.experience .illustration img{
  width: 25%;
  height: 15%;
}

.experience .description p{
  text-align: center;
  font-size: 1.5vw;
  max-width: 900px;
  margin: 10px auto;
  line-height: 1.5;
}

.recherche{
  margin-left: 37%;
  margin-top: 2%;
}

.recherche button{
  color:black;
  font-size: 1.3vw;
  border-radius: 5px;
  background-color:  #56b7dd;
  box-shadow: 3px 3px 3px black;
}

.recherche input{
  font-size: 1vw;
  border-radius: 5px;
  box-shadow: 3px 3px 3px black;
  width: 21vw;
  height: 1.3vw;
}





/*_________PAGE D'ADMINISTRATEUR_________*/

.admin{
  text-align: center;
  font-size: 1.5vw;
}

table{
  width: 50%;
  margin: auto;
  margin-bottom: 5%;
  border-radius: 10px;
  background-color: #ca8d5e;
  padding: 1%;
}

table tr{
  text-align: center;
  font-size: 2vw;
  border-radius: 10px;
}

table tr td{
  border-radius: 10px;
  background-color: #ffffff;
}

table tr th{
  background: #e6e6e6;
  border-radius: 10px;
}

table button{
  margin-left: 2%;
  margin-right: 2%;
  padding-bottom: 0.8%;
  padding-top: 0.5%;
  margin-bottom: 1%;
}

table .vip{
  border-radius: 10px;
  color: white;
  font-size: 1.2vw;
  width: 100%;
  background-color: #0066ff;
}

table .vip:hover{
  cursor: pointer;
  background-color: #0400ff;
  font-style: underline;
}

table .ban{
  border-radius: 10px;
  color: white;
  font-size: 1.2vw;
  width: 100%;
  background-color: #ff0000;
}

table .ban:hover{
  cursor: pointer;
  background-color:#c50000;
  font-style: underline;
}




/*_________PAGE DE DETAILS_________*/

.details{
  background-color: white;
  box-shadow: 6px 6px 6px #817f7f;
  border: none;
  border-radius: 10px;
  width: 60%;
  height: auto;
  font-size: 1.1vw;
  text-align: center;
  margin-top: 100px;
  margin-left: 20%;
}

.titre-details{
  text-align: center;
  font-size: 2vw;
}

.details .image{
  border-radius: 10px;
  width: 70%;
  height: 50%;
  margin-top: 5%;
}

.details form select{
  width: 3vw;
  height: 3vw;
}

.details select {
  font-size: 0.9vw;
  border-radius: 5px;
  background-color:#ece0d6
}

.details button{
  background-color: rgb(235, 147, 34);
  color: white;
  border-radius: 10px;
  width: 15vw;
  font-size: 70%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  margin-bottom: 4%;
}

.details button:hover{
  background-color: #fa8500;
  cursor: pointer;
}

.details button:visited{
  color: black;
}





/*_________PAGE DE PAIEMENT_________*/

.titre-recap{
  text-align: center;
  font-size: 2vw;
}

.recap{
  background-color: white;
  box-shadow: 6px 6px 6px #817f7f;
  border: none;
  border-radius: 10px;
  width: 60%;
  height: auto;
  font-size: 1.1vw;
  text-align: center;
  margin-top: 100px;
  margin-left: 20%;
}

.recap_payer input{
  color: black;
  background-color: #fa8500;
  border-radius: 10px;
  font-size: 30px;
  padding: 10px;
  margin: 10px;
}

.recap_payer input:hover{
  background-color: #ffc400;
  box-shadow: 5px 5px 5px black;
}

.recap .doute{
  margin-right: 80%;
}

.recap .doute a {
  text-decoration: none;
  color: black;
  background-color: #d1d1d1;
  border-radius: 10px;
  padding: 7px;
}

.recap .doute a:hover{
  box-shadow: 5px 5px 5px rgb(163, 163, 163);

}

.recap h4 {
  text-decoration: underline;
}